.Card{
    border: #08265C solid 3px;
    border-radius: 15px;
    background-color: #145ADB;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 15px;
}

.forms {
    margin-top: 10px;
}

Header{
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 3px 5px;
}
